@import './src/common/styles/sass/variables';

.nav {
    width: 500px;
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
    a {
        text-decoration: none;
        color: $goldColor;
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: 2.0px;
        transition: .2s;
        &:hover {
            color: $bgColor;
            transition: .2s;
        }
    }
    .active {
        color: $bgColor;
    }
}