.contactsBlock {
    height: 100vh;
    background-color: #b7dcb7;
}

.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {

}
.contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
}